# Python cache
__pycache__/
*.pyc

# Virtual environments
.env
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Datasets & Models (Uncomment below if you don't want to push data to GitHub)
# data/
# models/
